* {
    margin: 0;
    font-family: Inter;
}


a {
    text-decoration: none;
}

body {
    background-color: #9abee0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 0;
    display: flex;
    font-size: 30px;
    font-weight: 300;
}

#logoheader {
    width: 82px;
    height: 82px;
    padding: 9px 15px 9px 15px;
    cursor: pointer;
}

h1 {
    align-self: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    padding: 0;
}

#telacadastro {
    scroll-margin-top: 50px;
}

li {
    list-style: none;  
    display: inline; 
    margin: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: 10px;
    margin: 0 15px 0 10px;
    border: 0px;
    border-radius: 30px;
    background-color: #4477a3;
    color: white;
    align-self: center;
    font-size: 30px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.bloco1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#sidhome {
    width: 800px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.6));
}

h2 {
    font-size: 48px;    
    margin: 0 100px 20px 30px;
}

hr {
    border: 5px solid black;
    margin-right: 100px;
}

h3 {
    margin: 20px;
    text-align: center;
    font-size: 48px;
}

.vantagens {
    margin-left: 45px;
    margin-right: 100px;
}

.circle {
    display: flex;
    background-color: #031f36;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 20px auto;
}

    

h4 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 600;

}

.txtvantagem {
    display: flex;
    gap: 20px;
}

.blocovantagem {
    flex: 1;
    align-content: center;
    text-align: center;
    min-width: 240px;
}

.blocovantagem > p {
    min-width: 10px;
    text-align: center;
    font-weight: 300;
    margin: 10px 20px 0 20px;
    min-height: 100px;
}

.interesse {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#btninteresse {
    cursor: pointer;
    padding: 0;
    width: 700px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #031f36;                                                                                                                              
    border-radius: 50px;
    border: 0;
    transition: scale .3s;
}

#btninteresse:hover {
    scale: 1.1;
}

.bloco2 {
    display: flex;
    gap: 200px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 40px;
    margin-left: 20px;
    width: 650px;
    height: 850px;
}

.cadastro > h3 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    align-self: flex-start;
    margin-left: 50px;
}

input {
    font-size: 25px;
    border-radius: 30px;
    border: none;
    width: 530px;
    height: 80px;
    background-color: #C4D4E6;
}

input[type] {
    padding: 0 0 0 20px;
}

input:focus {
    outline-color: #031f36;
}

.cadastro > button {
    cursor: pointer;
    width: 550px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #031f36;                                                                                                                              
    border-radius: 30px;
    border: 0;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.blocoprof {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blocoprof > h3 {
    margin: 0;
    text-align: start;
}

.professor {
    display: flex;
    align-items: center;
}

.professor > .profinfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.professor > .circle {
    margin: 0;
    width: 200px;
    height: 200px;
}

.profinfo > .profname {
    font-size: 48px;
    font-weight: 500;
}

.profinfo > .profdesc {
    font-size: 20px;
    font-weight: 300;
}

.professor > img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.bloco3 {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.titdepoimentos {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.depoimentos {
    display: flex;
    justify-content: space-around;
}

.depoimentos > div {
    width: 360px;
    height: 460px;
    border-radius: 50px;
    background-color: white;
    justify-items: center;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.depoimentoaluno {
    font-size: 22px;
    font-weight: 300;
}

.depoimentoaluno > p {
    min-height: 210px;
}

.infoaluno {
    margin-bottom: 20px;
}

.infoaluno > img {
    border-radius: 100%;
    width: 150px;
}

.infoaluno > p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.entrarjornada {
    align-self: center;
}

.entrarjornada > a > button {
    width: 700px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    background-color: #031f36;
    color: white;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    float: center;
    transition: scale .2s;
}

.entrarjornada > a > button:hover {
    scale: 1.1;
}

.scratch {
    display: flex;
    margin: 0;
    justify-content: space-between;

}

.scratch > img {
    width: 150px;
    height: 100px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

footer > img {
    width: 300px;
    height: 50px;
    padding: 25px;
}

.vovo {
    width: 221px;
    position: absolute;
    top: 995px;
    left: 440px;
}

